In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns
import math
import gzip

In [11]:
domain_score = pd.read_csv("domains_ideology_score_LADA.txt", delimiter = "\t", header=None)
user_polarity = pd.read_csv("USER_POLARITY_BARBERA.txt", delimiter = "\t", header=None)

In [12]:
domain_score

                           0        1
0           weaselzippers.us  1.00000
1                   vote.gop  1.00000
2                tedcruz.org  1.00000
3           donaldjtrump.com  1.00000
4            billoreilly.com  0.99000
..                       ...      ...
510         commondreams.org  0.01635
511     weareultraviolet.org  0.01450
512  readersupportednews.org  0.00080
513        berniesanders.com  0.00100
514       hillaryclinton.com  0.00100

[515 rows x 2 columns]

In [26]:
obamacare_userinfo = pd.read_csv("obamacare/userinfo.txt", delimiter = "\t", header = None, lineterminator='\n')

In [28]:
obamacare_userinfo.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,334537201,00_jackie,Jackie Ô∏è,‚ô•‚Ä¢‚ô• Oklahoma ‚ô•‚Ä¢‚ô•,"Saved sinner, Conservative, pro Israel, pro Mi...",6115,1041,39411,Wed Jul 13 07:48:53 +0000 2011,False,False,en,False,https://t.co/dMTSML3qwc,NaN,NaN,http://pbs.twimg.com/profile_images/6095617438...
1,115094250,0103lrl,Larry Lawson (D),NaN,"Progressive Democrat! We're wounded, but not d...",5534,5358,177943,Wed Feb 17 15:57:36 +0000 2010,False,False,en,True,NaN,NaN,NaN,http://pbs.twimg.com/profile_images/8450958772...
2,2369916919,055Douglas,üî¥ Douglas üî¥,NaN,"I enjoy music, warm weather, gardening. Workin...",5038,4762,46476,Mon Mar 03 05:36:02 +0000 2014,False,False,en,True,NaN,NaN,NaN,http://pbs.twimg.com/profile_images/8934867018...
3,1146470090,100Concerned,endure,NaN,"photography,music, travel, nature,do not buy f...",2015,2358,179716,Sun Feb 03 23:04:27 +0000 2013,False,False,en,True,NaN,NaN,NaN,http://pbs.twimg.com/profile_images/3788000007...
4,95708744,100Natural,100%Natural,M√©xico,Grupo de Franquicias de Restaurantes que promu...,2198,362,14554,Wed Dec 09 19:01:12 +0000 2009,False,False,es,True,http://t.co/smkBBf2sLc,NaN,NaN,http://pbs.twimg.com/profile_images/9143582449...

In [21]:
user_production_score = pd.read_csv("obamacare/users_production_scores.txt", delimiter = "\t", header = None, lineterminator='\n')

In [35]:
obamacare_tweets = pd.read_csv("obamacare/USER_TWEETS.txt.gz", compression = "gzip",
                               delimiter = "\t", header = None, lineterminator = "\n",
                                error_bad_lines=False, nrows=1000000)

In [36]:
obamacare_tweets

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,334537201,917247622502584320,@AZWS @GovMaryFallin Hi üëãüèº Yes it has. Thank y...,Mon Oct 09 04:37:29 +0000 2017,"<a href=""http://twitter.com/download/iphone"" r...",1,N,0,NaN,NaN,AZWS GovMaryFallin,N,NaN,NaN
1,334537201,917246099190140929,RT @redsteeze: Where is Donald Trump from agai...,Mon Oct 09 04:31:26 +0000 2017,"<a href=""http://twitter.com/download/iphone"" r...",898,N,0,NaN,https://t.co/9uTcmCyRD5--a0a--https://twitter....,redsteeze,N,NaN,NaN
2,334537201,917245534288728064,#douchebag @Kaepernick7 üëàüèº https://t.co/ttu8oY...,Mon Oct 09 04:29:11 +0000 2017,"<a href=""http://twitter.com/download/iphone"" r...",0,N,0,douchebag,https://t.co/ttu8oYFldA--a0a--https://twitter....,Kaepernick7,N,NaN,NaN
3,334537201,917244832166371328,RT @chuckwoolery: Health Insurers in FL Reques...,Mon Oct 09 04:26:24 +0000 2017,"<a href=""http://twitter.com/download/iphone"" r...",355,N,0,NaN,https://t.co/ndlI4KkHF6--a0a--https://bluntfor...,chuckwoolery,N,NaN,NaN
4,334537201,917244447615799296,RT @MarkYoungTruth: Working on my resume‚Äô for ...,Mon Oct 09 04:24:52 +0000 2017,"<a href=""http://twitter.com/download/iphone"" r...",91,N,0,bluntforcetruth,NaN,MarkYoungTruth,N,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,1357799989,871983133243179008,Desde el fondo de mi ‚ù§Ô∏è...,Tue Jun 06 06:52:34 +0000 2017,"<a href=""http://twitter.com/#!/download/ipad"" ...",0,N,0,NaN,NaN,NaN,N,NaN,NaN
999996,1357799989,871982661149044736,RT @UHumanitas: Siempre proponte ir cuesta arr...,Tue Jun 06 06:50:41 +0000 2017,"<a href=""http://twitter.com/#!/download/ipad"" ...",983,N,0,NaN,NaN,UHumanitas,N,NaN,NaN
999997,1357799989,871982263096967168,@Iovintit Perd√≥n estaba hablando de negocios h...,Tue Jun 06 06:49:06 +0000 2017,"<a href=""http://twitter.com/#!/download/ipad"" ...",0,N,0,NaN,NaN,NaN,N,NaN,NaN
999998,1357799989,871981424244641793,Gloria trevi Versus Tour //Me hubiera gustado ...,Tue Jun 06 06:45:46 +0000 2017,"<a href=""http://twitter.com/#!/download/ipad"" ...",0,N,0,NaN,https://t.co/d776AaX7Xx--a0a--https://youtu.be...,NaN,N,NaN,NaN
999999,1357799989,871938521220689920,RT @BarbieHarp: ME REHUSO A SUPERAR LA CANCI√ìN...,Tue Jun 06 03:55:17 +0000 2017,"<a href=""http://twitter.com/#!/download/ipad"" ...",2471,N,0,NaN,NaN,BarbieHarp,N,NaN,NaN

In [44]:
obamacare_tweets.loc[1000][2]

'RT @badov49: REPORT: Anti-Trump Senator Mark Warner Made $6 Million in 2012 From Russian Tech Business https://t.co/YZ7WZvYXHk'

In [2]:
networks = pd.read_csv("obamacare/FULL_FOLLOWER_NETWORK.txt.gz", compression = "gzip",
                               delimiter = "\t", header = None, lineterminator = "\n",
                                error_bad_lines=False)

In [16]:
networks.head(6000)

              0                   1
0     334537201          2652830652
1     334537201            31623445
2     334537201  907991059694792704
3     334537201  709158721746804737
4     334537201          1623194148
...         ...                 ...
5995  334537201            84062050
5996  334537201           186618551
5997  334537201            27427649
5998  334537201           325739781
5999  334537201           375669510

[6000 rows x 2 columns]